* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #7C3AED;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

.title-div {
    background-color: var(--primary-color);
    padding: 2rem;
    border-bottom-left-radius: 16px;
    color: white;
    text-align: center;
    font-size: 25px;
}

.img-div {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

img {
    width: 500px;
    height: 400px;
    align-items: center;
}

.link-div {
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;
}

.link-div ul li {
    display: inline-block;
    margin: 2rem;
    font-size: 28px;
}

.link-div ul li a {
    color: var(--primary-color);
    padding: 0 1rem;
}

.hover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width .3s;
}

.hover-link:hover:after {
    width: 115%;
    transition: width .3s;
}

.heading-div {
    text-align: center;
    padding: 2rem;
}

.section{
    padding: 2rem;
    display: block;
}

.ow{
    background-color: var(--off-white);
    padding: 3rem;
}

.center{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.container{
    padding: 0rem 1rem;
}

.primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.primary:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.link{
    padding: 0.5rem 1rem;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
} 

.secondary{
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);

}

.secondary:hover{
    background-color: var(--primary-color);
    color: white;
}


.footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 4rem;
    color: white;
    border-top-right-radius: 1rem;
    font-size: 20px;
}

.footer div {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding: 1rem 0;
}

.footer ul li {
    display: inline-block;
    padding: 0 1rem;
    margin-top: 1rem;
}

.footer ul li a {
    color: white;
}

.hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s;
}

.hover:hover::after {
    width: 108%;
    transition: width .3s;
}